header{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    line-height: 1;
}

header h1{
    font-size: 64px;
}

header p{
    margin-top: 0;
    font-size: 30px;
}