main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 300px);
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    background: none;
}